---
import ContactForm from "../common/Contact_Form.astro";
---

<section>
    <div class="container">
        <div class="contact-head">
            <h2>Get in Touch with Your Local Mould Removal Experts</h2>
            <p>
                Whether you are dealing with visible mould, damp smells or just
                need advice, we are here to help. SG Restorations proudly
                services the Central Coast, Newcastle and Sydney, offering
                certified mould and moisture solutions with a personal touch.
            </p>
        </div>
        <div class="form">
            <ContactForm />
        </div>

        <div class="contact-information">
            <div class="info-header">
                <h3>Prefer to Contact Us Directly?</h3>
                <p>
                    Give us a call or send an email and we’ll be happy to help!
                </p>
            </div>

            <div class="info">
                <h4>Contact Us By Phone</h4>
                <a href="tel:0413 470 368">0413 470 368</a>
            </div>

            <div class="info">
                <h4>Contact SG Restorations Via Email</h4>
                <a href="mailto:steve@sgrestorations">steve@sgrestorations</a>
            </div>
        </div>
    </div>
</section>

<style>
    section {
        background-color: var(--bg-green);
    }
    h2 {
        font-size: 1.65em;
        margin-bottom: 2rem;
    }
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .contact-information {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
    }
    .info-header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    h3 {
        font-size: 1.35em;
    }
    h4 {
        margin-bottom: 1rem;
    }
    a {
        text-decoration: none;
        color: black;
    }

    @media (min-width: 768px) {
        .contact-head {
            grid-area: contact-head;
        }
        .form {
            grid-area: form;
        }
        .contact-information {
            grid-area: info;
        }
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "contact-head form"
                "info form";
            gap: 1rem;
        }
    }

    @media (min-width: 1024px) {
        .container {
            gap: 6rem;
        }
        .form {
            max-width: 440px;
        }
    }
</style>
