---

---

<section>
    <div class="container">
        <h2>Our Working Hours</h2>
        <p class="p1">
            You can reach SG Restorations Monday to Saturday between 8am and
            5pm. We know mould and moisture issues can’t always wait, so if
            you’ve got an urgent problem outside these hours, we’ll do our best
            to help where possible, just give us a call.
        </p>
        <div class="hours">
            <h3>Hours</h3>
            <div class="hour-card">
                <p>Monday - Saturday</p>
                <p>8:00am to 5:00pm</p>
            </div>

            <div class="hour-card">
                <p>Sunday</p>
                <p>Closed</p>
            </div>

            <div class="hour-card">
                <p>Emergency Callouts</p>
                <p>Avaliable on Request</p>
            </div>
        </div>
    </div>
</section>

<style>
    section {
        background-color: var(--bg-blue);
    }
    h2 {
        font-size: 2em;
    }
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .hour-card {
        background-color: var(--blue);
        border-radius: 3px;
        color: white;
        padding: 1rem;
    }
    .hour-card p:first-of-type {
        font-weight: bold;
    }
    .hours {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    h3 {
        font-size: 1.5em;
    }

    @media (min-width: 768px) {
        .container {
            gap: 4rem;
        }
    }

    /* @media (min-width: 1024px) {
        .hours {
            text-align: center;
            max-width: 300px;
        }
        h3 {
            text-align: left;
            margin: 2rem 0px;
        }
    } */

    @media (min-width: 1024px) {
        .container {
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-areas:
                "title title"
                "p1 hours";
            gap: 2rem;
        }
        h3 {
            grid-area: title;
            margin: 0px;
        }
        .p1 {
            grid-area: p1;
        }
        .hours {
            grid-area: hours;
            background-color: #fff;
            padding: 2rem;
            border-radius: 3px;
        }
    }

    @media (min-width: 1440px) {
        .container {
            grid-template-columns: 30% 70%;
        }
        .hours {
            margin-left: 6rem;
            max-width: 380px;
        }
    }
</style>
