---
import ContactForm from "../common/Contact_Form.astro";
---

<section>
    <div class="container">
        <h2 id="contact-form">Get in Touch With SG Restorations</h2>
        <p>
            Have a question or need to book a Central Coast mould removal
            service? Give us a call, send an email, or use the form below.
            Whether it’s for a property inspection, moisture issue or mould
            remediation, we’re here to help.
        </p>
        <div class="contact-form">
            <ContactForm />
        </div>
    </div>
</section>

<style>
    h2 {
        font-size: 2em;
    }
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    @media (min-width: 768px) {
        .container {
            gap: 4rem;
        }
        .contact-form {
            width: 65%;
        }
    }

    @media (min-width: 1024px) {
        h2 {
            grid-area: title;
        }
        p {
            grid-area: p1;
        }
        .contact-form {
            width: 100%;
            grid-area: contact;
        }
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "title title"
                "p1 contact";
        }
    }
</style>
