---
import { Image } from "astro:assets";

const { icon, text, link } = Astro.props;
---

<a href={link}>
    {icon && <Image src={icon} alt={text} />}
    {text}
</a>

<style>
    a {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        width: fit-content;
        border: 1px solid var(--blue);
        padding: 0.5rem 0.75rem;
        border-radius: 3px;
        height: fit-content;
        font-family: "roboto";
        text-decoration: none;
        color: var(--blue);
    }
</style>
